<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#2d455e"/>

  <link rel="icon" href="./favicon.jpg">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Aplikasi Kripto</title>
</head>
<body>
  <header>
    
  </header>
  
  <main id="content"></main>
  
  <footer>Copyright &copy 2022. Zaidan Noor Irfan </footer>
  
  
</body>
</html>
